@charset "utf-8";

header, footer, article, section, nav, aside, hgroup {
    display: block;
}

figure{
	margin: 10px 10px 10px 0;
}

div{
	margin-bottom: 20px;
}

#border{
	border: 1px solid #DCDCDC;
	padding: 20px;
}

footer{
	text-align: center;
	padding: 20px 0;
}